{% extends 'base.html' %}
{% block title %}Home {% endblock %}

{% block content %}

<script type="text/javascript">

</script>
<script>
    var initial_time = 0
    var intervalID
    var actual_item = 0
    var end_actual_item = 0
    var json_data = null




    function send_req(e) {

        var data_content = document.getElementById("data_content")
        var data_return = document.getElementById("data_return")
        var u_form = document.getElementById("form_user")
        data_content.value = e
        data_return.value = "app_english"
        u_form.submit()
        // data = { msj: e }
        // fetch('https://localhost:8000/traslate', {
        //     method: "POST",
        //     headers: { 'Content-Type': 'application/json' },
        //     body: e.toString()
        // }).then(res => {
        //     console.log("Request complete! response:", res);
        // });

    }
    function addMessage(e) {
        console.log(typeof (e))
        var mensaje = e
        // socket.on('mes', function (data) {
        //     console.log('Received message from server: ' + data);
        //     json_data = data
        // });
        // socket.emit("videos_subtitle", mensaje);
        send_req(e.toString())
        var player = document.getElementById("videoplayer")
        var path = "static/video/" + e.toString() + ".mp4"
        console.log(path)
        //socket.emit("videos_subtitle", e);
        var path =
            player.setAttribute("src", path);
        return false;
    }
    function callMonitor() {
        intervalID = setInterval(start_time_monitor, 500);
    }
    function to_ms(list_number) {
        a = parseFloat(list_number)
        a = a.toFixed(3)
        a = a * 1000
        a = parseInt(a)
        return a
    }
    function to_ms_2(tiempo) {
        tiempo = tiempo.toString().split(":");
        let hours = parseInt(tiempo[0]) * 3600000
        let minutes = parseInt(tiempo[1]) * 60000
        let seconds = parseInt(tiempo[2]) * 1000
        let miliseconds = parseFloat(tiempo[2]) % 1000
        miliseconds = miliseconds.toFixed(3)
        miliseconds += parseInt(tiempo[3])
        return miliseconds

    }
    function start_time_monitor() {
        var player = document.getElementById("videoplayer")
        var content = document.getElementById("content")
        var menu_videos = document.getElementById("videos")
        menu_videos.style.visibility = 'hidden'
        var time_player = player.currentTime
        console.log(time_player)
        ms_player = to_ms(time_player)
        console.log("R > ", ms_player)
        console.log("dd ==", json_data)
        if (parseInt(end_actual_item) < parseInt(ms_player)) {
            actual_item += 1
            content.innerHTML = json_data[actual_item.toString()]["data"]
            end_actual_item = parseInt(json_data[actual_item.toString()]["end"])
        }




    }
    function stop_time_monitor() {
        clearInterval(intervalID);
    }
    function open_menu() {
        var menu_videos = document.getElementById("videos")
        menu_videos.style.visibility = 'visible'
    }

</script>
<div style="padding: 0;margin: 0;width: 100%;">
    <div class="row-2">
        <div class="row-2" style="z-index: 99;
            position: absolute;
            top: 0px;">
            <div class="bot pad" for="btnradio1" onclick="open_menu()">videos</div>
        </div>
        <div width="100%">
            <video width="100%" id="videoplayer" controls src="" onplay="callMonitor()" onpause="stop_time_monitor()"
                type="video/mp4">
            </video>
            <div id="videos" class="row-2 menu">
                <label class="bot pad" for="btnradio1" onclick="addMessage('tbbt1_2')">tbbt1_2</label>
                <label class="bot pad" for="btnradio2" onclick="addMessage('tbbt1_4')">tbbt1_4</label>
            </div>
        </div>
    </div>
    <div class="row-3">
        <div class="col-10" width="70%">
            <div id="content"></div>
        </div>
        <div class="col-2" width="30%">
            <div id="content2"></div>
        </div>
    </div>
    <div style="visibility: hidden;">
        <form id="form_user" action="{{ url_for('send_subtitles') }}" method="post">
            <input id="data_content" type="text" name="content">
            <input id="data_return" type="text" name="return">
        </form>
    </div>

</div>
</div>
{% endblock %}