{% extends 'base.html' %}
{% block title %}{{ super() }}Bienvenido{% endblock %}

{% block content %}
<div>Login</div>
<div class="container">
    <form id="form_user" action="{{ url_for('login') }}" method="post">
        <div class="row">
            <div class="col">
                <label for="name">Nombre: </label>
                <input type="text" id="name" name="name" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <label for="password">Contraseña: </label>
                <input type="password" id="password" name="password" /><br>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <input type="submit" name="next" value="login">\
            </div>
        </div>
    </form>

    {% endblock %}