{% macro render_todo(text,menu) %}
<nav>
    <div class="navbar_a">
        <div style="width:100%">
            <div class="row-1" style="display:flex;width:100%;align-items: center;">
                <div>
                    <a href="{{ url_for('home') }}">Home</a>
                </div>
                <div style="display:flex;width:100%;align-items: center;">
                    <div class="full dropdown d-flex" width=100%>
                        <a class="bot center_text" href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Apps
                        </a>
                        <div class="bot dropdown-menu">
                            <a class="bot center_text" href="{{ url_for('index_app_en') }}">AppEnglish</a>
                        </div>
                    </div>

                </div>
                <div style="display:flex;width:100%;align-items: center;">
                    {{ text }}
                </div>
                <div style="display:flex;width:100%;align-items: center;">
                    <form class="d-flex row-1" role="search" style="
                    padding: 0px;
                    margin: 0px;
                ">
                        <input class="row-1 form-control" type="search" placeholder="Search" aria-label="Search">
                    </form>
                </div>
                <div style="display:flex;width:100%;align-items: center;">
                    <div style="display:flex;width:100%;align-items: center;">
                        <div style="display:flex;width:100%;align-items: center;">
                            <select class="bot" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Yo
                                <option value="exit" class="bot row-1 dropdown-menu">
                                    <a class="bot center_textdropdown-item" href="{{ url_for('exit') }}">Cerrar
                                        Sesion</a>
                                </option>
                            </select>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    </div>
    <div class="collapse" id="collapseMenu">
        {% include menu %}
    </div>

</nav>
{% endmacro %}